PROJECT_NAME="Simit Consultant"
VERSION="0.1.0"
API_V1_STR="/api"
POSTGRES_URL="postgresql://neondb_owner:npg_rPFx40slwmcj@ep-patient-wind-an3p0nop-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
SIMIT_URL= ""