PROJECT_NAME="Simit Consultant"
VERSION="0.1.0"
API_V1_STR="/api"
POSTGRES_URL=""
SIMIT_BASE= "https://consultasimit.fcm.org.co/simit/microservices/estado-cuenta-simit/estadocuenta"
CAPTCHA_URL="https://qxcaptcha.fcm.org.co/api.php"